<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Journal App</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active">
        <%= button_to "Logout", destroy_user_session_path, :class => "btn btn btn-secondary", method: :delete  %>
      </li>
    </ul>
  </div>
</nav>

<%= form_with(model: [@task.category, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="form-group">
    <%= f.label :status %><br />
    <%= f.select :status, Task::STATUS_OPTIONS, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :deadline %><br />
    <%= f.date_field :deadline %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn btn-secondary"%>
  </div>
<% end %>
