<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Journal App</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active">
        <%= button_to "Logout", destroy_user_session_path, :class => "btn btn-primary", method: :delete  %>
      </li>
    </ul>
  </div>
</nav>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>


<%= link_to 'Edit', edit_category_task_path(@task.category, @task) %> |
<%= link_to 'Back', category_path(@task.category) %>
