<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Journal App</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active">
        <%= button_to "Logout", destroy_user_session_path, :class => "btn btn-secondary", method: :delete  %>
      </li>
    </ul>
  </div>
</nav>

<p id="notice"><%= notice %></p>

<%= link_to 'Back', categories_path, class: 'btn btn-secondary mb-3' %>
<div class="card">
  <div class="card-body">
    <h2 class='card-title d-flex justify-content-between mb-4'>
      <span><%= @category.name %></span>
      <div>
        <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-secondary' %>
        <%= link_to 'Destroy', @category, method: :delete, class: 'btn btn-dark', data: { confirm: 'Are you sure?' } %>
      </div>
    </h2>

    <div class="mb-4">
      <h4>Add task</h4>
      <%= form_for([@task.category, @task]) do |f| %>
        <% if @task.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
            <ul>
            <% @task.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.hidden_field :status, value: 'not-started' %>
        <div class="input-group">
          <%= render 'tasks/form' %>
        </div>
      <% end %>
    </div>

    <hr>

    <h4>!!Task Priority!!</h4>
      <div class="card mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <% @category.tasks.each do |task| %>
              <% if task.deadline == Date.today %>
                <%= task.name %>
                <%= link_to 'View task', [task.category, task] %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    
    <hr>

    <h4>Tasks</h4>
    <% @category.tasks.each do |task| %>
      <% if task.persisted? %>
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="button-group">
                <%= link_to 'Edit', edit_category_task_path(task.category, task), class: 'btn btn-secondary btn-sm' %>
                <%= link_to 'Destroy', [task.category, task], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-dark btn-sm' %>
              </div>
            </div>
            <h5 class='card-title mb-2'>
              <span><%= task.name %></span>
            </h5>
            <p><%= task.description %></p>
            <p>Status: <%= task.status %></p>
            <p>Deadline: <%= task.deadline %></p>
          </div>
        </div>
      <% end %>
    <% end%>

  </div>
</div>